In [10]:
#Running the core utilities notebook with all validation and loading functions
%run utils.ipynb

In [13]:
# load df
holiday_df = pd.read_csv('../data/holiday_data.csv')
holiday_df

          date  holiday
0   2019-01-01     True
1   2019-05-27     True
2   2019-07-04     True
3   2019-09-02     True
4   2019-11-28     True
5   2019-12-25     True
6   2020-01-01     True
7   2020-05-25     True
8   2020-07-04     True
9   2020-09-07     True
10  2020-11-26     True
11  2020-12-25     True
12  2021-01-01     True
13  2021-05-31     True
14  2021-07-04     True
15  2021-09-06     True
16  2021-11-25     True
17  2021-12-25     True
18  2022-01-01     True
19  2022-05-30     True
20  2022-07-04     True
21  2022-09-05     True

In [5]:
#validate date - if unusual date patterns are noticed we can add a cleaning function in the utils file
date_pattern = r'^\d{4}-\d{2}-\d{2}'
invalid_date_check(holiday_df,date_pattern)

Empty DataFrame
Columns: [date, holiday]
Index: []

In [6]:
#validate holiday column
check_bool(holiday_df)

  Column Dropped Row Indices
0   date                  []

In [7]:
#transform dates to datetime object
holiday_df['date'] = pd.to_datetime(holiday_df['date'])
holiday_df['holiday'] = holiday_df['holiday'].astype(bool)
holiday_df.head()

        date  holiday
0 2019-01-01     True
1 2019-05-27     True
2 2019-07-04     True
3 2019-09-02     True
4 2019-11-28     True

In [8]:
#validating both columns - assert statement can be added to further validate 
holiday_df.dtypes

date       datetime64[ns]
holiday              bool
dtype: object

In [9]:
#write bronze file to path
file_name = 'holiday_data.csv'
write_to_path_bronze(holiday_df,bronze_holiday_path,file_name)

DataFrame saved to ../Submission/bronze_data/holiday_data/holiday_data.csv