In [14]:
#Running the core utilities notebook with all validation and loading functions
%run utils.ipynb

In [15]:
# load df and the lengths of all the different files belonging to this system
transactions_csv_df, transactions_csv_df_counts = read_transactions_csv(raw_path)

In [16]:
transactions_csv_df.head(10)

  location_id        date transaction_id  profit
0         008  01/02/2019            001  $26.89
1         008  01/02/2019            002  $24.74
2         008  01/02/2019            003  $31.36
3         008  01/02/2019            004  $27.06
4         008  01/02/2019            005  $29.51
5         008  01/02/2019            006  $27.52
6         008  01/02/2019            007  $26.59
7         008  01/02/2019            008  $28.40
8         008  01/02/2019            009  $28.42
9         008  01/02/2019            010  $25.11

In [17]:
# validate if the sum of the rows in individual files is equal to the number of rows in the final df 
assert len(transactions_csv_df) == sum(transactions_csv_df_counts)

In [18]:
#check date type - assertiton can be added
transactions_csv_df.dtypes

location_id       object
date              object
transaction_id    object
profit            object
dtype: object

In [19]:
#clean profit column - check for NaNs or invalid values
transactions_csv_df['profit'] = transactions_csv_df['profit'].apply(clean_profit)
invalid_profit(transactions_csv_df)

Empty DataFrame
Columns: [location_id, date, transaction_id, profit]
Index: []

In [20]:
#validate location column - if abnormal values are observed a cleaning function can be added to the utilities noteboook
invalid_location_check(df)

Empty DataFrame
Columns: [location_id, date, transaction_id, profit]
Index: []

In [21]:
#date pattern for this file system - validating dates - if abnormal values are observed a cleaning function can be added to the utilities noteboook
date_pattern = r'^\d{2}\/\d{2}\/\d{4}$'
invalid_date_check(transactions_csv_df,date_pattern)

Empty DataFrame
Columns: [location_id, date, transaction_id, profit]
Index: []

In [22]:
# check transaction_id - if abnormal values are observed a cleaning function can be added to the utilities noteboook
invalid_transaction_id_check(transactions_csv_df)

Empty DataFrame
Columns: [location_id, date, transaction_id, profit]
Index: []

In [23]:
#fix schema before writing into bronze path
transactions_csv_df.astype(transaction_schema)
transactions_csv_df['date'] = pd.to_datetime(transactions_csv_df['date'])
transactions_csv_df.head(10)

  location_id       date transaction_id  profit
0         008 2019-01-02            001   26.89
1         008 2019-01-02            002   24.74
2         008 2019-01-02            003   31.36
3         008 2019-01-02            004   27.06
4         008 2019-01-02            005   29.51
5         008 2019-01-02            006   27.52
6         008 2019-01-02            007   26.59
7         008 2019-01-02            008   28.40
8         008 2019-01-02            009   28.42
9         008 2019-01-02            010   25.11

In [24]:
#check data types - assert statement can be added for valdiation
transactions_csv_df.dtypes

location_id               object
date              datetime64[ns]
transaction_id            object
profit                   float64
dtype: object

In [26]:
#checking for nulls or any abnormal values
nan_counts = transactions_csv_df.isna().sum()
print("NaN counts in each column:")
print(nan_counts)

NaN counts in each column:
location_id       0
date              0
transaction_id    0
profit            0
dtype: int64

In [27]:
#write to path
file_name = 'transaction_data_system_1.csv'
write_to_path_bronze(transactions_csv_df,bronze_path,file_name)

DataFrame saved to ../Submission/bronze_data/transaction_data/transaction_data_system_1.csv