In [1]:
%run transform_utils.ipynb

In [2]:


# Connect to the 'tubing' database
conn = sqlite3.connect('tubing.db')
cursor = conn.cursor()

# SQL statements to create each table
location_table = """
CREATE TABLE IF NOT EXISTS location (
    location_id VARCHAR PRIMARY KEY,
    elevation INTEGER,
    population INTEGER
);
"""

transactions_table = """
CREATE TABLE IF NOT EXISTS transactions (
    transaction_id VARCHAR,
    location_id VARCHAR,
    date DATE,
    profit FLOAT,
    PRIMARY KEY (transaction_id, location_id, date),
    FOREIGN KEY (location_id) REFERENCES location(location_id),
    FOREIGN KEY (date) REFERENCES date(date)
);
"""

weather_table = """
CREATE TABLE IF NOT EXISTS weather (
    date DATE,
    location_id VARCHAR,
    temperature FLOAT,
    pressure FLOAT,
    humidity FLOAT,
    cloudy BOOL,
    precipitation BOOL,
    PRIMARY KEY (date, location_id),
    FOREIGN KEY (location_id) REFERENCES location(location_id),
    FOREIGN KEY (date) REFERENCES date(date)
);
"""

date_table = """
CREATE TABLE IF NOT EXISTS date (
    date DATE PRIMARY KEY,
    day INTEGER,
    day_of_week INTEGER,
    month INTEGER,
    year INTEGER,
    holiday BOOL
);
"""

# Execute the SQL statements to create the tables
cursor.execute(location_table)
cursor.execute(transactions_table)
cursor.execute(weather_table)
cursor.execute(date_table)

# Commit the changes and close the connection


print("All tables created successfully in the 'tubing' database.")

All tables created successfully in the 'tubing' database.

In [3]:
query = "SELECT name, sql FROM sqlite_master WHERE type='table';"

# Execute the query
cursor.execute(query)

# Fetch all the results
table_schemas = cursor.fetchall()

# Print the name and schema of each table
for name, schema in table_schemas:
    print(f"Table: {name}\nSchema: {schema}\n")

Table: location
Schema: CREATE TABLE location (
    location_id VARCHAR PRIMARY KEY,
    elevation INTEGER,
    population INTEGER
)

Table: weather
Schema: CREATE TABLE weather (
    date DATE,
    location_id VARCHAR,
    temperature FLOAT,
    pressure FLOAT,
    humidity FLOAT,
    cloudy BOOL,
    precipitation BOOL,
    PRIMARY KEY (date, location_id),
    FOREIGN KEY (location_id) REFERENCES location(location_id),
    FOREIGN KEY (date) REFERENCES date(date)
)

Table: date
Schema: CREATE TABLE date (
    date DATE PRIMARY KEY,
    day INTEGER,
    day_of_week INTEGER,
    month INTEGER,
    year INTEGER,
    holiday BOOL
)

Table: transactions
Schema: CREATE TABLE transactions (
    transaction_id VARCHAR,
    location_id VARCHAR,
    date DATE,
    profit FLOAT,
    PRIMARY KEY (transaction_id, location_id, date),
    FOREIGN KEY (location_id) REFERENCES location(location_id),
    FOREIGN KEY (date) REFERENCES date(date)
)

In [19]:
conn.close()