In [1]:
%run utils.ipynb

In [2]:
loaction_df = pd.read_csv('../data/location_data.csv', dtype= location_schema)
loaction_df.head(10)

  location_id  population  elevation
0         001       18428      375.0
1         002       32926      274.0
2         003       74138      505.0
3         004       14255      360.0
4         005       12686      386.0
5         006       86372      435.0
6         007       13400      186.0
7         008       52185      398.0
8         009       13641      350.0
9         010      425336      266.0

In [3]:
loaction_df.dtypes

location_id     object
population       int64
elevation      float64
dtype: object

In [4]:
file_name = 'location_data.csv'
write_to_path_bronze(loaction_df,bronze_location_path,file_name)

DataFrame saved to ../Submission/bronze_data/location_data/location_data.csv