In [1]:
%run transform_utils.ipynb

In [3]:
conn = sqlite3.connect('tubing.db')
cursor = conn.cursor()

In [4]:
# writing the query 
sql_query = """
WITH ProfitChanges AS (
    SELECT
        t.location_id,
        t.date,
        SUM(t.profit) AS daily_sum_profit,
        CASE
            WHEN SUM(t.profit) > 0 THEN 'positive'
            WHEN SUM(t.profit) < 0 THEN 'negative'
            ELSE 'neutral'
        END AS profit_indicator
    FROM
        transactions t
    GROUP BY
        t.location_id, t.date
),
ProfitPercChange AS (
    SELECT
        pc1.location_id,
        pc1.date,
        pc1.daily_sum_profit,
        pc1.profit_indicator,
        ((pc1.daily_sum_profit - IFNULL(pc2.daily_sum_profit, 0)) / IFNULL(pc2.daily_sum_profit, 1)) * 100 AS percent_change_profit
    FROM
        ProfitChanges pc1
    LEFT JOIN
        ProfitChanges pc2 ON pc1.location_id = pc2.location_id AND pc1.date = DATE(pc2.date, '+1 day')
)
SELECT
    w.location_id,
    w.date,
    w.temperature,
    ppc.daily_sum_profit,
    ppc.profit_indicator,
    ppc.percent_change_profit,
    (
        SELECT SUM(daily_sum_profit)
        FROM ProfitChanges
        WHERE location_id = w.location_id AND date BETWEEN DATE(w.date, '-29 days') AND w.date
    ) AS rolling_30_day_sum_profit
FROM
    weather w
LEFT JOIN
    ProfitPercChange ppc ON w.location_id = ppc.location_id AND w.date = ppc.date
ORDER BY
    w.location_id, w.date
LIMIT 50;
"""

In [5]:
cursor.execute(sql_query)

# Fetch the results
results = cursor.fetchall()

# Close the cursor and the connection
cursor.close()
conn.close()

# Print the results
for row in results:
    print(row)

('001', '2019-01-02', 16.88, None, None, None, None)
('001', '2019-01-03', 17.240000000000002, None, None, None, 430.96000000000004)
('001', '2019-01-04', 9.32, None, None, None, 847.86)
('001', '2019-01-05', 20.12, None, None, None, 1128.02)
('001', '2019-01-06', 17.240000000000002, None, None, None, 1544.0)
('001', '2019-01-07', 14.9, None, None, None, 1956.2)
('001', '2019-01-09', 15.8, None, None, None, 2282.73)
('001', '2019-01-10', 20.12, None, None, None, 2663.2400000000002)
('001', '2019-01-11', 19.58, None, None, None, 3061.75)
('001', '2019-01-12', 15.44, None, None, None, 3459.12)
('001', '2019-01-13', 16.52, None, None, None, 3895.41)
('001', '2019-01-14', 6.800000000000001, None, None, None, 4385.72)
('001', '2019-01-15', 15.98, None, None, None, 4520.650000000001)
('001', '2019-01-16', 8.779999999999998, None, None, None, 4825.380000000001)
('001', '2019-01-17', 12.38, None, None, None, 5003.100000000001)
('001', '2019-01-18', 8.240000000000002, None, None, None, 5166.210000000001)
('001', '2019-01-19', 10.4, None, None, None, 5318.630000000001)
('001', '2019-01-20', 21.02, None, None, None, 5717.340000000001)
('001', '2019-01-21', 12.2, None, None, None, 6254.170000000001)
('001', '2019-01-22', 13.82, None, None, None, 6491.230000000001)
('001', '2019-01-23', 21.2, None, None, None, 6625.960000000001)
('001', '2019-01-24', 13.099999999999998, None, None, None, 7019.740000000001)
('001', '2019-01-25', 13.279999999999998, None, None, None, 7254.77)
('001', '2019-01-26', 6.800000000000001, None, None, None, 7505.910000000001)
('001', '2019-01-27', 6.800000000000001, None, None, None, 7898.4800000000005)
('001', '2019-01-28', 10.22, None, None, None, 8162.9400000000005)
('001', '2019-01-29', 18.14, None, None, None, 8291.37)
('001', '2019-01-30', 16.7, None, None, None, 8676.25)
('001', '2019-01-31', 23.36, None, None, None, 9055.16)
('001', '2019-02-01', 22.1, None, None, None, 8985.47)
('001', '2019-02-02', 12.2, None, None, None, 8775.949999999999)
('001', '2019-02-03', 16.88, None, None, None, 8715.98)
('001', '2019-02-05', 15.079999999999998, None, None, None, 8717.21)
('001', '2019-02-06', 16.88, None, None, None, 8895.949999999999)
('001', '2019-02-07', 24.26, None, None, None, 9065.329999999998)
('001', '2019-02-08', 20.84, None, None, None, 9015.25)
('001', '2019-02-09', 8.420000000000002, None, None, None, 8954.81)
('001', '2019-02-10', 14.54, None, None, None, 8882.21)
('001', '2019-02-11', 23.54, None, None, None, 8720.1)
('001', '2019-02-12', 24.62, None, None, None, 8406.470000000001)
('001', '2019-02-13', 9.14, None, None, None, 8582.34)
('001', '2019-02-14', 9.32, None, None, None, 8445.499999999998)
('001', '2019-02-15', 12.38, None, None, None, 8420.85)
('001', '2019-02-16', 12.56, None, None, None, 8295.27)
('001', '2019-02-17', 10.759999999999998, None, None, None, 8339.81)
('001', '2019-02-18', 20.12, None, None, None, 8118.64)
('001', '2019-02-19', 16.7, None, None, None, 7730.27)
('001', '2019-02-20', 8.599999999999998, None, None, None, 7655.249999999999)
('001', '2019-02-21', 20.12, None, None, None, 7538.790000000002)
('001', '2019-02-22', 10.94, None, None, None, 7305.880000000001)