In [2]:
#Running the core utilities notebook with all validation and loading functions
%run transform_utils.ipynb

In [3]:
#load data
location_silver_df = pd.read_csv(locations_bronze_path, dtype= location_silver_schema)
location_silver_df

   location_id  population  elevation
0          001       18428      375.0
1          002       32926      274.0
2          003       74138      505.0
3          004       14255      360.0
4          005       12686      386.0
5          006       86372      435.0
6          007       13400      186.0
7          008       52185      398.0
8          009       13641      350.0
9          010      425336      266.0
10         011      121465      398.0
11         012      196528      436.0
12         013       68818      310.0

In [6]:
# writing the file directly since there are no transformations - leaving room for future transformations
file_name = 'location_silver_data.csv'
write_to_path_silver(location_silver_df,silver_location_path,file_name)

DataFrame saved to ../Submission/silver_data/silver_locations/location_silver_data.csv

In [5]:
#open db 
conn = sqlite3.connect('tubing.db')
cursor = conn.cursor()

In [6]:
#load rows to db - would use overwrite or upsert if I was using pyspark/pysql - sql lite has limitations with write
location_silver_df.to_sql('location', conn, if_exists='append', index=False)
conn.commit()

13

In [8]:
#test if the rows are present
query = """
SELECT * FROM location
"""
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
if results:
    print("Fetched rows:")
    for row in results:
        print(row)
else:
    print("No rows fetched. The table might be empty.")
# Close the connection

Fetched rows:
('001', 375, 18428)
('002', 274, 32926)
('003', 505, 74138)
('004', 360, 14255)
('005', 386, 12686)
('006', 435, 86372)
('007', 186, 13400)
('008', 398, 52185)
('009', 350, 13641)
('010', 266, 425336)
('011', 398, 121465)
('012', 436, 196528)
('013', 310, 68818)

In [9]:
#close db
conn.close()