In [2]:
#Running the core utilities notebook with all validation and loading functions
%run transform_utils.ipynb

In [3]:
#load data
weather_silver_df = pd.read_csv(weather_bronze_path, dtype= weather_silver_schema)
weather_silver_df.head()

,location_id,date,temperature,pressure,humidity,cloudy,precipitation
0,003,2020-01-22,18.14,1035.058685,0.44,True,False
1,008,2022-01-29,14.36,1027.253521,0.95,True,False
2,005,2021-11-28,35.42,994.694836,0.37,False,False
3,006,2021-10-12,37.94,1003.838028,0.11,True,True
4,002,2020-12-03,23.36,1027.476526,0.60,False,False

In [4]:
# since there are no transformations I am directly writing - leaving room for future transformations
file_name = 'weather_silver_data.csv'
write_to_path_silver(weather_silver_df,silver_weather_path,file_name)

DataFrame saved to ../Submission/silver_data/silver_weather/weather_silver_data.csv

In [5]:
# open db connection
conn = sqlite3.connect('tubing.db')
cursor = conn.cursor()

In [10]:
#add rows to db - I would prefer to uspert or overwrite using pyspark/sparksql - but since sqlLite is limited I am using write
weather_silver_df.to_sql('weather', conn, if_exists='append', index=False)
conn.commit()

In [11]:
# test if rows are in the table
query = """
SELECT * FROM weather LIMIT 20
"""
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
if results:
    print("Fetched rows:")
    for row in results:
        print(row)
else:
    print("No rows fetched. The table might be empty.")
# Close the connection

Fetched rows:
('2020-01-22', '003', 18.14, 1035.0586854460091, 0.44, 1, 0)
('2022-01-29', '008', 14.36, 1027.2535211267605, 0.95, 1, 0)
('2021-11-28', '005', 35.42, 994.6948356807512, 0.37, 0, 0)
('2021-10-12', '006', 37.94, 1003.838028169014, 0.11, 1, 1)
('2020-12-03', '002', 23.36, 1027.4765258215962, 0.6, 0, 0)
('2019-04-02', '005', 32.18, 1023.2394366197184, 0.31, 1, 0)
('2020-04-16', '008', 40.28, 986.6666666666666, 0.63, 1, 1)
('2020-10-07', '005', 43.16, 992.0187793427232, 0.88, 1, 1)
('2020-03-11', '008', 26.6, 977.9694835680752, 0.65, 1, 1)
('2022-10-17', '001', 44.96, 1037.2887323943662, 0.67, 0, 0)
('2021-01-14', '005', 4.099999999999998, 995.3638497652582, 0.92, 0, 0)
('2021-07-21', '005', 71.24000000000001, 1025.2464788732395, 0.96, 1, 0)
('2020-07-18', '003', 74.66, 979.9765258215964, 0.74, 0, 0)
('2020-09-02', '001', 70.16, 1027.9225352112676, 0.83, 1, 0)
('2022-10-14', '001', 46.04, 967.2652582159624, 0.92, 1, 1)
('2022-10-15', '010', 49.82, 963.0281690140844, 0.94, 0, 0)
('2021-06-11', '008', 71.24000000000001, 975.962441314554, 0.67, 1, 1)
('2020-02-22', '006', 4.640000000000001, 991.7957746478874, 0.35, 0, 0)
('2021-03-24', '004', 25.7, 1019.8943661971832, 0.99, 1, 1)
('2022-10-26', '004', 52.52, 1014.988262910798, 0.84, 0, 0)

In [12]:
conn.close()