In [2]:
%run utils.ipynb

In [3]:
weather_df = pd.read_csv('../data/weather_data.csv', dtype=weather_schema)
weather_df.head(10)

,location_id,date,temperature,pressure,humidity,cloudy,precipitation
0,003,2020-01-22,18.14,1035.058685,0.44,True,False
1,008,2022-01-29,14.36,1027.253521,0.95,True,False
2,005,2021-11-28,35.42,994.694836,0.37,False,False
3,006,2021-10-12,37.94,1003.838028,0.11,True,True
4,002,2020-12-03,23.36,1027.476526,0.60,False,False
5,005,2019-04-02,32.18,1023.239437,0.31,True,False
6,008,2020-04-16,40.28,986.666667,0.63,True,True
7,005,2020-10-07,43.16,992.018779,0.88,True,True
8,008,2020-03-11,26.60,977.969484,0.65,True,True
9,001,2022-10-17,44.96,1037.288732,0.67,False,False

In [4]:
date_pattern = r'^\d{4}-\d{2}-\d{2}'
invalid_date_check(weather_df,date_pattern)

Empty DataFrame
Columns: [location_id, date, temperature, pressure, humidity, cloudy, precipitation]
Index: []

In [5]:
check_bool(weather_df,'cloudy')

        Column Dropped Row Indices
0  location_id                  []
1         date                  []
2  temperature                  []
3     pressure                  []
4     humidity                  []

In [6]:
check_bool(weather_df,'precipitation')

        Column Dropped Row Indices
0  location_id                  []
1         date                  []
2  temperature                  []
3     pressure                  []
4     humidity                  []

In [7]:
weather_df['date'] = pd.to_datetime(weather_df['date'])

In [8]:
weather_df.dtypes

location_id              object
date             datetime64[ns]
temperature             float64
pressure                float64
humidity                float64
cloudy                     bool
precipitation              bool
dtype: object

In [9]:
file_name = 'weather_data.csv'
write_to_path_bronze(weather_df,bronze_weather_path,file_name)

DataFrame saved to ../Submission/bronze_data/weather_data/weather_data.csv